*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6EDf5;
}
.container{
   
    display: flex;
    background: #fff;
    box-shadow:0 0 45px rgba(0,0,0,0.2);
    min-height: 450px;
    width: 60%;
    border-radius: 5px;
}
.img{
    
    width: 55%;
    display: flex;
    align-items: center;
}

img{ 
    width: 400px;
    height: 400px
}
.form{
    /*border: 2px solid green;*/
    display: flex;
    justify-content: center;
}
form{
width: 90%;

}
form h2{
    /*border: 2px solid;*/
    font-size: 2.5vw;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 8px;
    text-align: center;
    font-weight: 900;
    margin-top: 30px;
    color : #202e59
}
.inputfield {
    border: 2px solid #202e59;
    display: flex;
    align-items: center;
    height: 70px;
    margin: 25px 0;
    border-radius: 6px;
    overflow: hidden;
    padding: 10px; 
}
input,textarea{
   /*border: 2px solid;*/
    outline: none;
    border: none;
    padding: 10px;
    font-size: 1em;
}
textarea{
    
    width: 222.50px;
    height: 100%;
}
.motif{
    height: 140px;
}
i{
  /*  border: 2px solid;*/
    width: 65px;
    border-right: 2px solid;
    font-size: 25px;
    text-align: center;
    color : #202e59
}


.btn{
    width: 100%;
    border: 2px solid #202e59 ;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    background-color : #202e59;
    padding: 15px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

@media  screen and (max-width :900px ) {
    body{
        display: block;
        background-color: #fff;
    }
    .container{
        display: block;
        width: 100%;
    }
    .img{
        display: none;
    }

    .form{
        display: block;
         width: 100%;
        padding: 30px;}
    form{
        width: 100%;
        margin: 0 0;
    }
   form h2{
    margin: 0;
    font-size: 25px;
 
   }
    .inputfield{
        margin: 20px 0 ;
    }
    textarea{
    padding-top: 18px;}
    .motif i{
        width: 45px;
    }
    i{
        padding-right: 10px ;
    }
}
